body {
    background-image: url(background_image/coffeeboj.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: black;
}

div.glavnidiv {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}

/*START HEADER*/

header {
    background-color: #9E3903;
    background-size: 100% 100%;
    height: 180px; 
    padding: 20px;
    
}

h1 {
    color: #201A06;
    font-size: 100px;
    letter-spacing: 20px;
    text-shadow: 3px 2px #AA8604;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*END HEADER*/

/*NAV START*/
nav {
    background-color: #201A06;
    color: #DC7741;
    height: auto;
    text-align: center;
    padding: 0.25%;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    color: #DC7741;
    font-size: 15px;
    border: 2px solid #DC7741;
    letter-spacing: 2px;
    width: 20%;
    border-radius: 5px;
}

nav ul li a {
    color: #DC7741;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 2% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #8c6c02;
}

/*NAV END*/

div.asideandmain {
    background-color: white;
    display: inline-block;
  
}

/*ASIDE START*/

/*CITATI START*/
aside {
    margin-top: 4%;
    padding: 1%;
    width:30%;
    float: left; 
    background-color: #ffffff;
    margin-bottom: 10%;
}

@font-face {
    font-family: Caveat-Bold;
    src: url(fonts/Caveat-Bold.ttf);
}

aside div.stihovi {
    padding: 10px;
    text-align: justify;
    font-family: Caveat-Bold;
    font-size: 20px;

}

aside div.stihovi>img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.poznati {
    padding-top: 0px;
    margin-top: 0px;
    text-align: right;
    font-size: 15px;
    margin-right: 80px;
}

blockquote.citat {
    font-size: 22px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #9E3903;
    text-decoration: bold;
}

/*CITATI END*/

@font-face {
    font-family: muli;
    src: url(fonts/Muli.ttf);
}

/*LINKOVI START*/
div.linkovi {
    margin-top: 15%;
    margin-left: 11%;
}

div.linkovi h3 {
    font-family: muli;
    font-size: 17px;
    color: #201A06;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.linkovi ul {
    list-style-type: none;
    margin-top: 0px;
}

div.linkovi a {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 7%;
    font-family: muli;
    font-weight: bold;
    font-style: italic;
}

div.linkovi a:link {
    background-color: #ffffff;
    color: #201A06;
}

div.linkovi a:visited {
    background-color: #ffffff;
    color: #7f643c;
}

div.linkovi a:hover {
    background-color: #201A06;
    color: #DC7741;
}

div.linkovi a:active {
    color: #b30000
}
/*LINKOVI END*/
/*ASIDE END*/

/*MAIN START*/
/*DESCRIPTION START*/
main {
    font-family: muli;
    background-color: #ffffff;
    padding: 5%;
    width: 58%;
    float: right;
   
}

main article p {
    text-align: justify;
    color: #312809;
} 

main article h2, #anketa h2 {
    font-size: 35px;
    text-align: center;
    color: #201a06;
    text-shadow: 2px 1px #AA8604;
    padding-bottom: 2%;
}

#zrno_kafe img {
    float: right;
    display: block;
    margin: 4%;
}
/*DESCRIPTION END*/

/*START ANKETA*/


#anketa form fieldset {
    border: 4px ridge #9E3903;
    font-family: muli;
    border-radius: 10px;  
}

#anketa form fieldset legend {
    color: #9E3903;
    font-family: muli;
    text-shadow: 1px 1px rgb(114, 90, 2);
    font-size: 20px;
}

label, label.ime {
    color: #9E3903;
    font-weight: bold;
}

label.ime {
    margin-right: 1%;
}

/*FORM START*/
input[type=text], input[type=email], input[type=number] {
    border: #201a06 groove 2px;
    border-radius: 3px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    border: #d1a208 groove 4px;
    border-radius: 3px;
}

textarea {
    box-sizing: border-box;
    border: #201a06 groove 2px;
    border-radius: 5px;
    background-color: #e7dcb9;
}

 select{
    width: 50%;
    border: #201a06 thin 1px;
    border-radius: 4px;
    background-color: #DC7741;
    color: #201a06;
 }

 select optgroup[label]  {
     background-color:#201a06;
     color: #DC7741;

 }

 option {
    background-color: #e7dcb9;
    color: #201a06;
 }

 .container {
    display: block;
    padding: -5px;
 }

 #anketa form fieldset ol li {
     list-style-type: none;
     color: #DC7741;
     font-weight: bold;
     margin-top: 15px;
     margin-bottom: 5px;
 }
  
input[type=submit] {
    border: 4px ridge  #9E3903;
    border-radius: 8px;
    color: #201a06;
    background-color: #e7dcb9;
    padding: 5px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
  
}

input[type=submit]:hover {
    background-color: #DC7741;
}


/*END ANKETA*/
div.media {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 3%;
}

div.clickme {
    float: right;
    width: 50%;
}



div.clickme_img img {
    float: right;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 20%;
    width: 52%;
}

div.clickme_button {
    margin-left: 18%;
    margin-bottom: 0;
}

button {
    display: block;
    background-color: #ffffff;
    border: 1px solid #9E3903;
    border-radius: 50%;
    color: #9E3903;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color:#DC7741; 
    color: #9E3903;
}


/*MAIN END*/

/*FOOTER START*/
footer {
    border: 1px solid #201A06;
    display: block;
    height: 130px;
    background-color:#201A06;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 0;
}

footer a {
    color: #ffffff;
}
/*FOOTER END*/

span.bold {
    font-weight: bold;
}
span.italic {
    font-style: italic;
}
span.podvuceno {
    text-decoration-line: underline;
}